<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.livereload.markForLiveReloadCommand"
            name="Mark for LiveReload...">
         <state
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="default"
                     value="false">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <command
               commandId="org.jboss.tools.livereload.markForLiveReloadCommand"
               icon="icons/livereload_server.png">
         </command>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.livereload.internal.command.LiveReloadFolderCommandHandler"
            commandId="org.jboss.tools.livereload.markForLiveReloadCommand">
          <activeWhen>
            <with variable="selection">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <instanceof
                          value="org.eclipse.core.resources.IFolder">
                    </instanceof>
                 </iterate>
              </and>
           </with>
          </activeWhen>
      </handler>
   </extension>
   <!--extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jboss.tools.livereload.internal.command.LiveReloadPropertyTester"
            id="org.jboss.tools.livereload.liveReloadPropertyTester"
            namespace="org.jboss.tools.livereload"
            properties="serverStarted"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester> 
   </extension-->
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.tools.livereload.internal.server.wst.LiveReloadServerBehaviour"
            class="org.jboss.tools.livereload.internal.server.wst.LiveReloadServerDelegate"
            description="LiveReload Server"
            hasConfiguration="false"
            id="org.jboss.tools.livereload.serverType"
            initialState="stopped"
            launchConfigId="org.jboss.tools.livereload.serverLaunchConfig"
            launchModes="run"
            name="LiveReload Server"
            runtime="false"
            runtimeTypeId="org.jboss.tools.livereload.serverTypeRuntime"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/livereload_server.png"
            id="org.jboss.tools.livereload.serverImage"
            typeIds="org.jboss.tools.livereload.serverTypeRuntime, org.jboss.tools.livereload.serverType">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="org.jboss.tools.livereload.internal.server.wst.LiveReloadRuntime"
            description="LiveReload Server"
            id="org.jboss.tools.livereload.serverTypeRuntime"
            name="LiveReload Server">
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.livereload.internal.server.wst.LiveReloadLaunchConfiguration"
            id="org.jboss.tools.livereload.serverLaunchConfig"
            name="name">
      </launchConfigurationType>
   </extension>

</plugin>
