<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.livereload.openInWebBrowserViaLiveReloadProxy"
            name="%open_in_webbrowser_via_proxy">
      </command>
      <command
            id="org.jboss.tools.livereload.openInExternalDeviceWebBrowserViaQRCode"
            name="%open_in_devicebrowser_via_qrcode">
      </command>
      <command
            id="org.jboss.tools.livereload.launchLiveReloadServer"
            name="%launch_livereload_server">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
     <menuContribution
       locationURI="popup:org.eclipse.ui.navigate.showInQuickMenu?after=additions">
		<command
			commandId="org.jboss.tools.livereload.openInWebBrowserViaLiveReloadProxy"
			icon="icons/livereload_editor_launcher.png"
			label="%open_in_webbrowser_via_proxy"
			style="push">
			<visibleWhen checkEnabled="false">
				<with variable="selection">
				  <and>
					<iterate
						ifEmpty="false"
						operator="or">
							<adapt
								type="org.eclipse.wst.server.ui.IServerModule">
							</adapt>
					</iterate>
					<test
                       forcePluginActivation="true"
                       property="org.jboss.tools.livereload.localServer">
                    </test>
				  </and>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="org.jboss.tools.livereload.openInExternalDeviceWebBrowserViaQRCode"
			icon="icons/livereload_editor_launcher.png"
			label="%open_in_devicebrowser_via_qrcode"
			style="push">
			<visibleWhen checkEnabled="false">
				<with variable="selection">
				  <and>
					<iterate
						ifEmpty="false"
						operator="or">
							<adapt
								type="org.eclipse.wst.server.ui.IServerModule">
							</adapt>
					</iterate>
					<test
                       forcePluginActivation="true"
                       property="org.jboss.tools.livereload.localServer">
                    </test>
				  </and>
				</with>
			</visibleWhen>
		</command>
       </menuContribution>
    </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.livereload.ui.internal.command.OpenInWebBrowserViaLiveReloadProxyCommandHandler"
            commandId="org.jboss.tools.livereload.openInWebBrowserViaLiveReloadProxy">
          <activeWhen>
            <with variable="selection">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    	<adapt
							type="org.eclipse.wst.server.ui.IServerModule">
						</adapt>
                 </iterate>
                 <test
                       forcePluginActivation="true"
                       property="org.jboss.tools.livereload.serverStarted">
                 </test>
              </and>
           </with>
          </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.livereload.ui.internal.command.OpenInExternalDeviceWebBrowserViaQRCodeCommandHandler"
            commandId="org.jboss.tools.livereload.openInExternalDeviceWebBrowserViaQRCode">
          <activeWhen>
            <with variable="selection">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    	<adapt
							type="org.eclipse.wst.server.ui.IServerModule">
						</adapt>
                 </iterate>
                 <test
                       forcePluginActivation="true"
                       property="org.jboss.tools.livereload.serverStarted">
                 </test>
              </and>
           </with>
          </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.livereload.ui.internal.command.LaunchLiveReloadServerCommandHandler"
            commandId="org.jboss.tools.livereload.launchLiveReloadServer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jboss.tools.livereload.ui.internal.command.OpenInWebBrowserViaLiveReloadProxyEnablementTester"
            id="org.jboss.tools.livereload.liveReloadPropertyTester"
            namespace="org.jboss.tools.livereload"
            properties="serverStarted"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester> 
      <propertyTester
            class="org.jboss.tools.livereload.ui.internal.command.OpenInWebBrowserViaLiveReloadProxyVisibilityTester"
            id="org.jboss.tools.livereload.liveReloadPropertyTester"
            namespace="org.jboss.tools.livereload"
            properties="localServer"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
         extensions="htm,html,xhtml,shtml,adoc,asciidoc"
         icon="$nl$/icons/livereload_editor_launcher.png"
         id="org.jboss.tools.livereload.openFileInBrowserWithLiveReload"
         launcher="org.jboss.tools.livereload.ui.internal.command.OpenInWebBrowserWithLiveReloadLauncher"
         name="Web Browser via LiveReload Server"/>
  </extension>
  
  <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.jboss.tools.livereload.ui.internal.configuration.LiveReloadServerConfigurationSection"
            id="org.jboss.tools.livereload.serverConfigurationSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="10"
            typeIds="org.jboss.tools.livereload.serverType">
      </section>
      <!--section
            class="org.jboss.tools.livereload.ui.internal.configuration.LiveReloadProxyServerConfigurationSection"
            id="org.jboss.tools.livereload.proxyConfigurationSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="10"
            typeIds="org.jboss.tools.livereload.serverType">
      </section-->
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/livereload_server.png"
            id="org.jboss.tools.livereload.serverImage"
            typeIds="org.jboss.tools.livereload.serverTypeRuntime, org.jboss.tools.livereload.serverType">
      </image>
   </extension>

</plugin>
